*{
    padding: 0%;
    margin: 0%;
    font-family: "Open Sanz", sans-serif;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Quicksand", sans-serif;
}

.menu {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    color: black;
    height: 56px;
    width: 100%;
    background-color: #ffffff80;
    padding: 4px;
    margin: 0 auto;
}

.menu_content{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.menu_content a {
    text-decoration: none;
    color: inherit;
    font: bold;
    cursor: pointer;
    padding: 16px;
}

.menu_content li:hover {
    transform: scale(1.02);
    text-decoration: underline;
    transition: 0.3s;
    text-decoration-thickness: 2px;
}

#inscrever-se {
    background-color: #E74C3C;
    color: white;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
}

.info {
    background: url(images/image.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
    justify-content: center;
    max-width: fit-content;
}

.box{
    background-color: #FFD20080;
    padding-right: 72px;
    text-align: right;
}

.texto {
    width: 100vw;
    padding: 40px 100px;
}

.data {
    padding: 30px;
    margin-right: 100px;
    max-width: 300px;
}

.conteudo{
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
    gap: 48px;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.info-evento > p {
    padding: 16px 0;
    line-height: 26px;
}

.programacao, .localizacao p, h3{
    padding: 8px 0;
}

.colaboradores > img{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 1px solid #2D3748;
}

.info-evento > .colaboradores {
    max-width: 1200px;
}

.colaboradores {
    padding: 24px 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.card-texto {
    display: flex;
    flex-direction: column;
    padding: 0px 8px;
    gap: 4px;
}

.localizacao {
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.rodape{
    margin: 0 auto;
    height: 156px;
    background-color: #2D374899;
    max-width: 100%;
}

.rodape h3 {
    padding-bottom: 16px;

}

.logos{
    width: 1200px;
    margin: 0 auto;
    padding-left: 32px;
}

.logos img {
    padding-right: 32px;
}